
.profile-image-circle{
    grid-area: profile-image-circle;
}
.search{
    grid-area: search;
    height: 3em;
    display: flex;
    border-radius: 16px;
    border: 1px solid #dad8d8;
}
#search{
    display: flex;
    align-items: center;
    padding-top: .6em;
    width: 100%;
}
#search::placeholder{
    font-size: 2rem;
    line-height: 1.3;
}

.category{
    grid-area: category;
}
#logo{
    grid-area:logo;
    /* justify-self: center; */
}
.notification{
    grid-area: notification;
}
.change-location{
    grid-area: change-location;
    display: flex;
    justify-content: space-between;
}
.change-location .location{
    width: 40%;
    display: flex;
    align-items: center;
}
.location a{
    border: 0 !important;
}
.blog{
    margin-top: 20rem;
    margin-bottom: 15rem;
}
#add-post{
    width: 100%;
    background: rgba(58, 137, 62, 0.05);
    border: 1px solid #3A893E;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto fit-content 1fr;
    grid-template-areas: "add-story add-story add-story add-story"
                         "line-bottom line-bottom line-bottom line-bottom"
                         "tag image ... post";
}
.heading:first-child{
    margin-bottom: 1em;
}
#add-post input,
#add-post textarea{
    background-color: transparent;
}
.post{
    grid-area: post;
}
.post .bg-green{
    font-size: 1.3em;
    color: aliceblue;
    padding: .5em 1em;
    border-radius: 14px;
}
#line-bottom{
    grid-area: line-bottom;
    margin-bottom: 1em;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, rgba(58, 137, 62, 0) 0%, rgba(58, 137, 62, 0.7) 51.04%, rgba(58, 137, 62, 0) 100%);

}
.image{
    grid-area: image;
}
.tag{
    grid-area: tag;
}
.add-story{
    grid-area: add-story;
}
.tag, .image{
    display: flex;
}
#add-story{
    width: 100%;
    border: none;

}

#add-post #add-story::placeholder{
    font-size: 2rem;
    color: #3A893E !important;
    line-height: 1.3;
}
#add-story:hover{
   outline: none;
}
input[type="file"], #tag{
    display: none;
}
.display{
    display: flex;
    align-items: center;
}
.post-card{
     margin: 1em 0;
     padding: 1em;
     display: grid;
     grid-template-columns: repeat(10, 1fr);
     grid-template-areas: "normal-image-circle username-location username-location username-location username-location post-date post-date post-date post-date post-date"
                          "blog-content blog-content blog-content blog-content blog-content blog-content blog-content blog-content blog-content blog-content"
                          "... ... ... ... like-comment like-comment  like-comment like-comment like-comment like-comment";
                          row-gap: .5em;

}
.post-card-with-image{
    margin: 1em 0;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas: "normal-image-circle username-location username-location username-location username-location post-date post-date post-date post-date post-date"
                         "blog-content blog-content blog-content blog-content blog-content blog-content blog-content blog-content blog-content blog-content"
                         "post-heading post-heading post-heading post-heading post-heading post-heading post-heading ... ... ..."
                         "post-tag post-tag ... ... like-comment like-comment  like-comment like-comment like-comment like-comment";
                         row-gap: .5em;
}
.post-heading{
    grid-area: post-heading;
}
.post-tag{
    grid-area: post-tag;
    margin-top: -.3em;
}
.normal-image-circle{
    grid-area: normal-image-circle;
    margin-right: .5em;
}
.username-location{
    grid-area: username-location;
}
.blog-content{
    grid-area: blog-content;
}
.blog-content-image{
    object-fit: cover;
    width: 100%;
    height: 130px;
    border-radius: 14px;
}
.post-date{
    grid-area: post-date;
    justify-content: flex-end;
    width: 100%;
}
.like-comment{
    grid-area: like-comment;
    justify-content: flex-end;
    position: relative;
    top: -.5rem;
}
.like-comment, 
.username-location .location,
.post-date,
.like,
.comment{
    display: flex;
}
.like-comment img, 
.username-location .location img,
.post-date img,
.like img,
.comment img{
    margin-right: .2em;
}
.like{
    border-right: 1px solid grey;
    padding-right: .3em;
}
.comment{
    margin-left: .3em;
}
.post-date{
    align-items: flex-start;
    padding-top: .5em;
}
.like-comment{
    display: flex;
    align-items: center;

}
.username-location .location{
    display: flex;
    align-items: flex-start;
    margin-top: -1.1em;

}
.username-location h4{
    font-size: 2rem;
}
.username-location .location .text-green{
    font-size: 1rem;
}
.text-grey{
    font-size: 1.2rem;

}
.text-grey{
    font-size: 1rem;}
.bg-green-round{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bg-green-round a:first-child{
    margin-left: 1em;
}
.trans-footer-btn{
    padding: .5em 1.5em;
    font-size: 1.5rem;
}
.trans-footer-btn img{
    margin-right: .2em;
}