.hero-grid{
    display: flex;
    align-items: center;
}
.col-2{
    height: 100px;
    position: fixed;
    width:100%;
}
.col-2 .back-arrow{
    margin-left: 1em;
}
.col-2 .heading{
    margin-left: 3em;
}

.col-3{
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:"category ... ... logo logo ...notification profile-image-circle"
                        "search search search search search search search search"
                        "change-location change-location change-location change-location change-location change-location change-location change-location";
    gap: 1em;
    position: fixed;
    z-index: 2;
    background: #fff;
    top: 0;
}
.header-with-profile{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:"arrow-back user more";
    gap: 1em;
    position: fixed;
    z-index: 2;
    width: 100%;
    background: #fff;
    top: 0;
}

.user{
    grid-area: user;
    display: flex;
}
.user .profile-image-circle{
    margin-right: .3em;
}
.user p{
    font-size: 1.3rem;
}
.profile-image-circle{

}
.more{
    grid-area: more;
    justify-self: end;
}
.header-with-profile .arrow-back{
    grid-area: arrow-back;
}